<%- include("header") -%>

<h2>How to use</h2>


<p>you can create your own tab in the todo app just add "/" then any name you want on the address or link</p>

<p>click on the checkbox to delete your todo list</p>

<p>note: do not save any secret incase someone guess your link</p>

<%- include("footer") -%>
